body{
    background-image: url("image/back1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment:fixed;
}
nav{
    margin: 2px;
    height: 30px;
    margin-top:30px ;
    margin-left: 30px;
    overflow: hidden;
}
nav a{
    padding: 5px;
    color: rgb(241, 241, 241);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav a.home{
    color: yellow;
}

a.signin
{
    color: yellow;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
nav a:hover{
    color: yellow;
}
div input{
    padding: 10px;
    margin-left: 30px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px; 
}
div button{
    border: none;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
}
div .search{
    color: rgb(0, 0, 0);
    background-color: yellow;
}
a.down{
    color: rgb(255, 255, 255);
    float: right;
    padding: 30px;
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    text-decoration: none;
}
a.down:hover{
    color: yellow;
}
.img1{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.main{
    padding-top: 30px;
}
.bolly{
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.bollyimg{
    margin-left: 10px;
    height: 90%;
    margin-right: 10px;
}
.bollyimgmain{
    margin-left:30px;
    height: 90%;
    margin-right: 10px;
}
div.first{
    overflow-x:auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 200px;
    color: yellow;
}
a h3{
    float: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
a h3:hover{
    color: yellow;
}
